:root{
    --Blanc:#F4F4F4;
    --Negre:#001219;
    --TurquesaFosc: #005F73;
    --TurquesaMitja: #0A9396;
    --TurquesaClar: #94D2BD;
    --Crema: #E9D8A6;
    --TaronjaClar: #EE9B00;
    --TaronjaMitja: #CA6702;
    --TaronjaFosc: #BB3E03;
    --Vermell: #AE2012;
    --Grana: #9B2226;
    --h1-font: "Gazpacho", "Hoefler Text", "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}


/*PODERS MÀGICS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body.poder{
  font-family: 'hoefler text';
  color: var(--Crema);
  /* prevent the default browser scrollbar on the 'poder' pages */
  overflow: hidden;
}
.poder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.poder h1{
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;   
}
.poder p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}
.poder section{
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  background-color: var(--TaronjaFosc);
  color: var(--Crema);
}
.intro, .camins-title{
  text-align: center;
  align-items: center;
}
.intro h1, .camins-title h1{
  width: 30%;
  margin: 0 auto;
}
.sticky{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-header{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  translate: transdom;
}

.sticky-header h1, .sticky-header p{
  position: relative;
  text-align: center;
  will-change: transform, opacity;
  transform: translateY(40px);
  opacity: 0;
}
.sticky-header p{
  transform: translateY(30px);
  font-size: 25px;
  font-weight: 100;
  padding-top: 20px;
}
.card-container{
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  perspective: 1000px;
  transform: translateY(40px);
  will-change: width;
}
.card{
  position: relative;
  flex: 1;
  aspect-ratio: 640/371;
  transform-style: preserve-3d;
  transform-origin: top;
}

#card-1{
  border-radius: 20px;
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
  overflow: hidden;
}
.card-back{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotateY(180deg);
  padding: 2rem;
}
.card-back span{
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 0.4;
}

#card-1 .card-back{
  background-color: var(--TaronjaMitja);
}
#card-2 .card-back{
  background-color: var(--TurquesaMitja);
}
#card-3 .card-back{
  background-color: var(--Vermell);
}
#card-4 .card-back{
  background-color: var(--TaronjaClar);
}

@media (max-width: 1000px){
  .poder p{
    font-size: small;
  }
  .poder h1{
    font-size: 3rem;
  }
  .intro h1, .outro h1{
    width: 100%;
  }
  .sticky{
    height: max-content;
    padding: 4rem 2rem;
    flex-direction: column;
  }
  .sticky-header{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-bottom: 4rem;
  }
  .sticky-header h1, .sticky-header p{
    opacity: 1;
  }
  .card-container{
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .card{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px !important;
  }
  #card-1, #card-2, #card-3, #card-4{
    transform: none;
  }       
}
.card-back{
  transition: transform 0,4s ease;
  transition: opacity 0s ease;
  transition: color 0.5s
}
.card-back :hover{
  transform: scale(1.01);
  opacity: 0.6;
}
.poder .Quiz-Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--TaronjaFosc);
}
body{
    width: 100%;
    background-color: var(--TaronjaFosc);
}
.Quiz-Header{
    padding: 25px;
    margin: auto;
    font-family: 'Hoefler Text';
    font-size: 24px;
    font-weight: 300;
    color: var(--Crema);
    position: relative; /* enable absolute positioning for inner title */
    min-height: 68px; /* ensure space for large h1 */
}
.Quiz-Header ul{
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Quiz-Header li{
    padding: 4px;
}
.Quiz-Header a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    color: var(--Crema);
    height: 50px;
}

.finestra-container img {
  position: absolute;
}


.persiana img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.persiana {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  will-change: transform;
}
.paissatges-container {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.persiana {
  z-index: 2;
}

.finestra {
  position: absolute;
  inset: 0;
  z-index: 3;
}
.opcions{
  display: flex;
}
.opcions p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  z-index: 5;
  position: relative;
  pointer-events: auto;
  width: 120px;
  margin: 10px;
}
.opcions p:hover{
  transform: scale(1.01);
  background-color: var(--Crema);
  color: var(--TaronjaFosc);
  opacity: 0.8;
}

.opcions{
  position: absolute;
  margin: auto;
  bottom:10%;
  justify-content: center;
  will-change: opacity;
  opacity: 0;
}

/*PREGUNTA 2 AQUÍ (problemes)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body.problemes{
  font-family: 'hoefler text';
  color: var(--Crema);
  /* prevent the default browser scrollbar on the 'poder' pages */
}
.problemes img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.problemes h1{
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;   
}
.problemes p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}
.sticky1{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: var(--TurquesaMitja);
  color: var(--Crema);
  overflow: hidden;
}

.sticky-header1{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.sticky-header1 h1{
  position: relative;
  text-align: center;
  will-change: transform, opacity;
  opacity: 1;
  transform: translateY(300px);

}
.contenidor-inner h1{
  font-size: 3rem;
}
.contenidor-problema{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  perspective: 1000px;
  will-change: width;
  overflow: hidden;
}
.frame{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}


.frame-inner{
  position: relative;
  height: 100%;
  width: 100%;
  inset: 0;
}
.objecte{
  width: 600px;
  position: absolute;
}

.problemes .Quiz-Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}
.problemes .resposta{
  position: relative; 
  cursor: pointer;
  pointer-events: auto;
}

.resposta h1{
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  padding: 15px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  position: relative;
  text-align: center;
  width: fit-content;
}

.resposta h1:hover{
  transform: scale(1.01);
  background-color: var(--Crema);
  color: var(--TaronjaFosc);
  opacity: 0.8;
}



/*tecnologia*/
.frame.tecno{
  opacity: 1;
}
.frame.tecno .resposta{
  left: 5%;
  top: 25%; 
}
.objecte.auriculars{
  top: 0%;
  right: 0%;
  transition: transform 0.3 ease;
  rotate: 20deg;
}
.objecte.mobil{
  bottom: 15%;
  left: 10%;
  transition: transform 0.3 ease;
  rotate: 10deg;
}

/*impuls*/
.frame.impuls{
  opacity: 1;
}
.frame.impuls .resposta{
  top: 60%;
  left: 50%;
}

.objecte.pet{
  top: -10%;
  right: 0%;
  transition: transform 0.3 ease;
  rotate: -90deg;
}
.objecte.rellotge{
  width: 500px;
  top: 20%;
  left: 5%;
  transition: transform 0.3 ease;
  rotate: -40deg;
}
/*fets*/
.frame.fets{
  opacity: 1;
}
.frame.fets .resposta{
  left: 5%;
  top: 65%; 
}
.objecte.bolis{
  top: 35%;
  left: 55%;
  transition: transform 0.3 ease;
  rotate: 30deg;
  width: 450px;

}
.objecte.fulls{
  top: 10%;
  right: 0%;
  transition: transform 0.3 ease;
  rotate: -10deg;
}
.objecte.lupa{
  width: 500px;
  top: 10%;
  left: 5%;
  transition: transform 0.3 ease;
  rotate: 70deg;
}
/*aventira*/
.frame.aventura{
  opacity: 1;
}
.frame.aventura .resposta{
  top: 60%;
  left: 65%;
}

.objecte.mapa{
  top: 10%;
  left: 5%;
  transition: transform 0.3 ease;
  rotate: 80deg;
  width: 750px;
}
.objecte.bruixula{
  width: 500px;
  top: 20%;
  left: 5%;
  transition: transform 0.3 ease;
  rotate: -20deg;
  width: 300px;
}
/*PREGUNTA 2 AQUÍ , ÀPATSSSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body.apats{
  font-family: 'hoefler text';
  color: var(--Crema);
  /* prevent the default browser scrollbar on the 'poder' pages */
}
.apats img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.apats h1{
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;   
}
.apats p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}
.sticky4{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: var(--TurquesaMitja);
  color: var(--Crema);
  overflow: hidden;
}

.sticky-header4{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.sticky-header4 h1{
  position: relative;
  text-align: center;
  will-change: transform, opacity;
  opacity: 1;
  transform: translateY(300px);

}

.contenidor-apats{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  perspective: 1000px;
  will-change: width;
  overflow: hidden;
}
.apats .frame{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}


.apats .frame-inner{
  position: relative;
  height: 100%;
  width: 100%;
  inset: 0;
}
.apats .objecte{
  width: 470px;
  position: absolute;
}

.apats .Quiz-Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}
.apats .resposta{
  position: relative; 
  cursor: pointer;
  pointer-events: auto;
}

.apats .resposta h1{
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  padding: 15px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  position: relative;
  text-align: center;
  width: fit-content;
}

.apats .resposta h1:hover{
  transform: scale(1.01);
  background-color: var(--Crema);
  color: var(--TaronjaFosc);
  opacity: 0.8;
}
.objecte.pasta{
  top: 18%;
  left: 34%;
  will-change: transform;
}
.objecte.peix{
  top: 18%;
  left: 34%;
  will-change: transform;
}
.objecte.arros{
  top: 18%;
  left: 34%;
  will-change: transform;

}
.objecte.pizza{
  top: 18%;
  left: 34%;
  will-change: transform;

}


